@using TestApp.Models.TestModels;
@model Question

<div class="wrapper">
    <main class="main">
        <div class="quiz__head">
            <div class="head__content" id="question">@Model.Title</div>
        </div>
        <div class="quiz__body">
            <div class="buttons">
                <div class="buttons__content" id="buttons">
                    @foreach (var item in Model.Answers)
                    {
                        <button class="button">@Html.ActionLink(@item.Text, "AnswerResult", "Test", new {questId = Model.Id})</button><br>
                    }
                </div>
            </div>
            <div class="quiz__footer">
                <div class="footer__content" id="pages">0 / 0</div>
            </div>
        </div>

    </main>
</div>